@*<h1>Hello world!</h1>*@


@*<div ng-view style="padding-top:0px;"></div>*@
<div ui-view="content" style="padding-top:0px;"></div>
@*<ui-view></ui-view>*@
@*<script type="text/ng-template" id="tpl.html">
    <div ui-view>
        <h3>current state name: <var>{{$state.current.name}}</var></h3>


        <h5>params</h5>
        <pre>{{$stateParams | json}}</pre>
        <h5>state</h5>
        <pre>{{$state.current | json}}</pre>

    </div>
</script>*@

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2></h2>
        <ul>
            <li></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398939"></a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699318"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319"></a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323"></a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853"></a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609"></a></li>
        </ul>
    </div>
</div>*@
